# see https://github.com/ckan/ckan/wiki/Translations-and-Extensions for details
# Extraction from Python source files
[python: **.py]
# Extraction from Genshi HTML and text templates
[jinja2: **.html]
keywords = _
encoding = utf-8
extensions =
