{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'display_name',
    'description',
    'tag_string',
    'owner_org',
    'see_alsos',
    'spatial',
    'coverage',
    ] -%}

{% block package_additional_info %}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields and field.display_snippet is not none -%}
      <dt class="dataset-label">{{ h.scheming_language_text(field.label) }}</dt>
      <dd class="dataset-details"{% if field.display_property %} property="{{ field.display_property }}"{% endif %}>
        {%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}
      </dd>
    {%- endif -%}
  {%- endfor -%}
{% endblock %}
