{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'display_name',
    'description',
    'notes',
    'tag_string',
    'keywords',
    'owner_org',
    'see_alsos',
    'spatial',
    'coverage',
    ] -%}

{% block package_additional_info %}
  {%- for field in schema.dataset_fields -%}
    {%- if field.field_name not in exclude_fields and field.display_snippet is not none -%}
      {% if field.field_name == 'relations' %}
        {# Special rendering of legal_basis if available #}
        {% for relation in pkg_dict[field.field_name] %}
          {% if relation.get('label', None) == 'legal_basis' and relation.get('url', None) != None %}
            <dt class="dataset-label">{{ _('Legal basis') }}</dt>
            <dd class="dataset-details"{% if field.display_property %} property="{{ field.display_property }}"{% endif %}>
              <a href="{{ relation.url }}" target="_blank">{{ relation.url }}</a>
            </dd>
          {% endif %}
        {% endfor %}
      {% endif %}
      <dt class="dataset-label">{{ h.scheming_language_text(field.label) }}</dt>
      <dd class="dataset-details"{% if field.display_property %} property="{{ field.display_property }}"{% endif %}>
        {%- snippet 'scheming/snippets/display_field.html', field=field, data=pkg_dict, schema=schema -%}
      </dd>
    {%- endif -%}
  {%- endfor -%}
{% endblock %}
