{#
Renders a item for a group. This should be used in a list.

group - A group dict.

Example:

    <ul>
      {% for group in groups %}
        {% snippet "group/snippets/group_item.html", group=group %}
      {% endfor %}
    </ul>
#}
{% set type = group.type or 'group' %}
{% set url = h.url_for(type ~ '_read', action='read', id=group.name) %}
{% block item %}
<li>
  {% block item_inner %}
    {% block title %}
      <h2><a href="{{ url }}" title="{{ _('View {name}').format(name=group.display_name) }}">{{ group.display_name }}</a></h2>
    {% endblock %}
    {% block datasets %}
      {% if group.packages %}
        <p class="small">{{ ungettext('{num} Dataset', '{num} Datasets', group.packages).format(num=group.packages) }}</p>
      {% elif group.packages == 0 %}
        <p class="small">{{ _('0 Datasets') }}</p>
      {% endif %}
    {% endblock %}
    {% block description %}
      {% if group.description %}
        <p>{{ group.description }}</p>
      {% endif %}
    {% endblock %}
  {% endblock %}
</li>
{% endblock %}
