{% extends "package/resource_read.html" %}

{%- set exclude_fields = [
    'title',
    'description',
    'notes',
    'display_name',
    'rights',
    'license',
    'coverage',
    'format',
    ] -%}
{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{% block resource_additional_information_inner %}
  {%- block resource_fields -%}
    {%- for field in schema.resource_fields -%}
        {%- if field.field_name not in exclude_fields -%}
          {%- if field.field_name == 'download_url' and not res[field.field_name] -%}
            {# Hide download_url if empty #}
          {%- elif field.field_name == 'byte_size' and not res['download_url'] -%}
            {# Hide byte_size if download_url empty #}
          {%- else -%}
            <dt>
              {{- h.scheming_language_text(field.label) -}}
            </dt>
            <dd>
              {%- snippet 'scheming/snippets/display_field.html', field=field, data=res, schema=schema -%}
            </dd>
          {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
  {%- endblock -%}
{% endblock %}
