{#
extras
Extra info passed into the add/remove params to make the url
#}

<form id="dataset-search-form" class="search-form" method="get" data-module="select-switch">
  <section class="container">
    <div class="row">
      <div class="col-xs-12">
        {% block form %}
          {% set facets = {
            'fields': c.fields_grouped,
            'search': c.search_facets,
            'titles': c.facet_titles,
            'translated_fields': c.translated_fields,
            'remove_field': c.remove_field }
          %}
          {% snippet 'snippets/search_form.html', query=c.q, fields=c.fields, facets=facets %}
        {% endblock %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 facet-filters">
        <h2 class="sr-only">{{ _('Search Filter') }}</h2>
        {% for facet in c.facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, label_function=h.localize_json_title, extras=extras) }}
        {% endfor %}
      </div>
      <div class="col-md-9">
        <div class="search-result-title clearfix">
          <h2>{{ h.snippet('snippets/search_result_text.html', query=c.q, count=c.page.item_count, type='dataset') }}</h2>
          {% block sorting %}
          {%- set current_lang = h.lang() -%}
          {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), "title_string_" ~ current_lang ~ " asc"),
          (_('Name Descending'), "title_string_" ~ current_lang ~ " desc"),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
          %}
          <div class="form-group form-inline header-md-vertical-center sortby">
            <label for="field-order-by">{{ _('Order by') }}</label>
            <select class="form-control" id="field-order-by" name="sort" onchange="this.form.submit()">
              {% for label, value in sorting %}
              {% if label and value %}
              <option value="{{ value }}"{% if c.sort_by_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          {% endblock %}
        </div>

        {% if request.params and c.page.item_count == 0 %}
          <p>{{ _('Please try another search.') }}</p>
        {% endif %}

        {% if c.query_error %}
          <p>{{ _('There was an error while searching. Please try again.') }}</p>
        {% endif %}

        {% block package_search_results_list %}
          {{ h.snippet('snippets/package_list.html', packages=c.page.items, list_class='list-unstyled') }}
        {% endblock %}

        {% block page_pagination %}
          {{ c.page.pager(q=c.q) }}
        {% endblock %}
      </div>
    </div>
  </section>
</form>
