{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}


{% block search_input %}
  <div class="form-group has-feedback main-search">
    <input type="search" class="form-control input-lg" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
    <i class="fa fa-search form-control-feedback" aria-hidden="true"></i>
  </div>
{% endblock %}

{% block search_search_fields %}
  {% if fields -%}
    <span>{{ form.hidden_from_list(fields=fields) }}</span>
  {%- endif %}
{% endblock %}