{#
  Displays a search form.

  query       - Current query value.
  fields      - Some fields.
  placeholder - The placeholder of the search input field.

  Example:

  {% snippet 'snippets/search_form.html', package=c.datasets[0] %}

#}

{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}

{% block search_input %}
  <div class="form-group has-feedback">
    <input type="search" class="form-control input-lg" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}">
    <i class="fa fa-search form-control-feedback" aria-hidden="true"></i>
  </div>
  <div class="reset-search">
    {% if c.group_dict.name %}
      <a href="{{ h.url_for(controller=c.controller, action=c.action, id=c.group_dict.name) }}"><i class="fa fa-times-circle" aria-hidden="true"></i> {{ _('Reset search') }}</a>
    {% else %}
      <a href="{{ h.url_for(controller=c.controller, action=c.action) }}"><i class="fa fa-times-circle" aria-hidden="true"></i> {{ _('Reset search') }}</a>
    {% endif %}
  </div>
{% endblock %}

{% block search_search_fields %}
  {% if fields -%}
    <span>{{ form.hidden_from_list(fields=fields) }}</span>
  {%- endif %}
{% endblock %}
