{% extends "page_ogdch.html" %}

{% block subtitle %}{{ _('Categories') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Categories'), controller='group', action='index' %}</li>
{% endblock %}

{% block page_title %}
  <h1>{{ _('Categories') }}</h1>
{% endblock %}

{% block primary_content %}
  <form id="group-search-form" class="search-form" method="get" data-module="select-switch">
    <section class="container" id="group-list">
      <div class="row">
        <div class="col-md-7">
          <h2>{{ h.snippet('snippets/search_result_text.html', query=c.q, count=c.page.item_count, type='group') }}</h2>
        </div>
        <div class="col-md-5 header-md-vertical-center">
          {% block groups_search_form %}
            {% snippet 'snippets/search_form.html', query=c.q, placeholder=_('Search categories...') %}
          {% endblock %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {% block groups_list %}
            {% if c.page.items or request.params %}
              {% if c.page.items %}
                {% snippet "group/snippets/group_list.html", groups=c.page.items %}
              {% endif %}
            {% else %}
              <p class="empty">
                {{ _('There are currently no categories available') }}.
              </p>
            {% endif %}
          {% endblock %}

          {% block page_pagination %}
            {{ c.page.pager(q=c.q) }}
          {% endblock %}
        </div>
      </div>

      {% if request.params and c.page.item_count == 0 %}
        <div class="row">
          <div class="col-xs-12">
            <p>{{ _('Please try another search.') }}</p>
          </div>
        </div>
      {% endif %}
    </section>
  </form>
{% endblock %}

