{% extends "group/read_base_ogdch.html" %}

{% block meta_description %}<meta name="description" content="{{ c.group_dict.description|truncate(200) }}" />{% endblock %}

{% block subtitle %}{{ c.group_dict.display_name }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Categories'), controller='group', action='index' %}</li>
  <li class="active"><a href="">{{ c.group_dict.display_name|truncate(30) }}</a></li>
{% endblock %}

{% block page_title %}
  <h1>{{ c.group_dict.display_name }}</h1>
{% endblock %}

{% block primary_content %}
{% block group_description %}
<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">{{ c.group_dict.description }}</p>
    </div>
  </div>
</section>
{% endblock %}
{{ h.snippet('snippets/search_box.html', extras={'id':c.group_dict.name}) }}
{% endblock %}
