{#
Renders the description of a package

pkg - A package object that the resources belong to.

Example:

{% snippet "package/snippets/description.html", pkg=pkg %}

#}
{% set current_lang = request.environ.CKAN_LANG %}
<section class="container description">
  <div class="row">
    <div class="col-md-2 col-sm-6">
      <dl>
        <dt>{{ _('Last updated') }}</dt>
        <dd>
          {% if pkg.modified %}
            {{ h.render_datetime(pkg.modified, with_hours=False) }}</dd>
          {% else %}
            {{ h.render_datetime(pkg.issued, with_hours=False) }}</dd>
          {% endif %}
      </dl>
    </div>
    <div class="col-md-2 col-sm-6">
      <dl>
        <dt>{{ _('Terms of use') }}</dt>
        <dd class="terms">
            <a href="/{{ current_lang }}/terms-of-use">
              {% set dataset_rights = h.get_dataset_terms_of_use(pkg.name) %}
              {% set terms_of_use = h.get_terms_of_use_icon(dataset_rights) %}
              {% if terms_of_use %}
                <img src="/content/themes/wp-ogdch-theme/assets/images/terms/{{ terms_of_use.icon }}" alt="{{ terms_of_use.title }}" title="{{ terms_of_use.title }}" />
              {% else %}
                -
              {% endif %}
          </a>
        </dd>
      </dl>
    </div>
    <div class="col-md-4 col-sm-6">
      <dl>
        <dt>{{ _('Organization') }}</dt>
        <dd>
          {% if pkg.owner_org %}
          {% set organization = h.get_localized_org(pkg.owner_org) %}
          {% set url = h.url_for(controller='organization', action='read', id=organization.name) %}
          <a href="{{ url }}">{{ organization.title or organization.name }}</a>
          {% else %}
          {{ _('No organisation available') }}
          {% endif %}
        </dd>
      </dl>
    </div>
    <div class="col-md-4 col-sm-6">
      <dl>
        <dt>{{ _('Groups') }}</dt>
        <dd>
        {% if pkg.groups %}
          {% for group in pkg.groups %}
            {% set type = group.type or 'group' %}
            {% set url = h.url_for(type ~ '_read', action='read', id=group.name) %}
            <a href="{{ url }}" title="{{ _('View {name}').format(name=group.title) }}">{{ group.title }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
        {% else %}
          -
        {% endif %}
        </dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ _('Description') }}</h2>
      <p>{{ pkg.description }}</p>
    </div>
  </div>
</section>
