{% if keywords %}
  <section class="container tags">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline tags">
          {% for keyword in keywords %}
            {%- set current_lang = h.lang() -%}
              {% if current_lang == 'de' %}
                 <li><a class="label label-primary-gray" href="{% url_for controller='package', action='search', keywords_de=keyword %}">{{ h.truncate(keyword, 22) }}</a></li>
              {% elif current_lang == 'fr' %}
                 <li><a class="label label-primary-gray" href="{% url_for controller='package', action='search', keywords_fr=keyword %}">{{ h.truncate(keyword, 22) }}</a></li>
              {% elif current_lang == 'it' %}
                 <li><a class="label label-primary-gray" href="{% url_for controller='package', action='search', keywords_it=keyword %}">{{ h.truncate(keyword, 22) }}</a></li>
              {% else %}
                 <li><a class="label label-primary-gray" href="{% url_for controller='package', action='search', keywords_en=keyword %}">{{ h.truncate(keyword, 22) }}</a></li>
              {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endif %}
