{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}
{% set res_title = res.title or pkg.title or pkg.name %}

<li class="resource-item" data-id="{{ res.id }}">
  {% block resource_item_title %}
  {% if res.media_type %}
    {% set media_type_truncated = h.truncate(res.media_type, 30) %}
    <small><span class="label label-default" title="{{ res.media_type }}">{{ media_type_truncated.upper() }}</span></small>
  {% endif %}
  <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    {{ res_title | truncate(50) }}
  </a>
  {% endblock %}
  {% block resource_item_explore %}
  {% if not url_is_edit %}
  <div class="actions pull-right hidden-sm hidden-xs">
    <small><a href="{{ url }}"><i class="fa fa-eye"></i> {% if res.has_views %} {{ _('Preview') }}{% else %}{{ _('More information') }}{% endif %}</a></small>
    {% if res.download_url %}
      <a href="{{ res.download_url }}" class="btn btn-primary btn-xs" role="button" target="_blank">
        <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
      </a>
    {% else %}
      <a href="{{ res.url }}" class="btn btn-primary btn-xs" role="button" target="_blank">
        <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
      </a>
    {% endif %}
  </div>
  {% endif %}
  {% endblock %}
</li>
