{#
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, showcases=pkg.showcases %}

#}
<section id="dataset-showcases" class="container showcases">
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ _('Showcases') }}</h2>
    </div>
  </div>
  {% block showcase_list %}
    <ul class="media-grid" data-module="media-grid">
        {% for package in showcases %}
          {% snippet 'showcase/snippets/showcase_item_small.html', package=package, show_remove=h.check_access('ckanext_showcase_update') %}
        {% endfor %}
    </ul>
  {% endblock %}
</section>
