{% set piwik_config = h.get_piwik_config() %}

{% extends "package/base.html" %}

{% block meta_description %}<meta name="description" content="{{ pkg.description|forceescape|trim }}" />{% endblock %}

{% block subtitle %}{{ pkg.title or pkg.name }}{% endblock %}

{% block links -%}
  {{ super() }}
  <link rel="alternate" type="application/rdf+xml" href="{{ h.url_for(controller='package', action='read', id=pkg.id, format='rdf', qualified=True) }}"/>
{% endblock -%}

{% block content_primary_nav %}
{% endblock %}

{% block primary_content %}
{% endblock %}
{% block body_extras %}
  <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['setCustomDimension', customDimensionId = {{ piwik_config.custom_dimension_action_organization_id or 0 }}, customDimensionValue = '{{ pkg.organization.name }}']);
      _paq.push(['setCustomDimension', customDimensionId = {{ piwik_config.custom_dimension_action_dataset_id or 0 }}, customDimensionValue = '{{ pkg.name }}']);
  </script>
  {{ super() }}
{% endblock %}
