{% extends "package/base.html" %}

{% set description = h.markdown_extract(pkg.description, extract_length=200)|forceescape %}

{% block meta_description %}<meta name="description" content="{{ description|forceescape|trim }}" />{% endblock %}

{% block subtitle %}{{ pkg.title or pkg.name }}{% endblock %}

{% block links -%}
  {{ super() }}
  <link rel="alternate" type="application/rdf+xml" href="{{ h.url_for(controller='package', action='read', id=pkg.id, format='rdf', qualified=True) }}"/>
{% endblock -%}

{% block content_primary_nav %}
{% endblock %}

{% block primary_content %}
{% endblock %}