{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% block maintag_class %}dataset-detail{% endblock %}

{% block page_title %}
  {% if pkg.private %}
    <span><i class="fa fa-lock"></i> {{ _('Private') }}</span>
  {% endif %}
  <h1>
    {{ pkg.title or pkg.name }}
    {% if pkg.state.startswith('draft') %}
      [{{ _('Draft') }}]
    {% endif %}
    {% if pkg.state == 'deleted' %}
      [{{ _('Deleted') }}]
    {% endif %}
  </h1>
{% endblock %}

{% block primary_content %}
  {% block package_description %}
    {% snippet "package/snippets/description.html", pkg=pkg %}
  {% endblock %}

  {% block package_keywords %}
    {% snippet "package/snippets/keywords.html", keywords=pkg.keywords %}
  {% endblock %}

  {% block package_resources %}
    {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}

  {% block package_showcases %}
    {% snippet "package/snippets/showcases_list.html", pkg=pkg, resources=pkg.resources %}
  {% endblock %}

  {% block package_additional_info %}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
  {% endblock %}

  {% block datapublisher_contact %}
    {% snippet "package/snippets/datapublisher_contact.html", pkg_dict=pkg %}
  {% endblock %}

  {% block package_related_datasets %}
    {% snippet "package/snippets/related_datasets.html", pkg=pkg %}
  {% endblock %}

{% endblock %}
