{% extends "package/base.html" %}

{% set res = c.resource %}
{% set pkg_title = c.package.title %}
{% set res_title = res.title or c.package.title %}
{% set res_description = h.markdown_extract(res.description, extract_length=200) %}

{% block meta_description %}<meta name="description" content="{{ res_description|forceescape|trim }}" />{% endblock %}

{% block subtitle %}{{ pkg_title }} | {{ res_title }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  <li class="active"><a href="">{{ res_title|truncate(30) }}</a></li>
{% endblock %}

{% block page_title %}
  <h1>{{ res_title }}</h1>
{% endblock %}

{% block primary_content %}
  <section class="container description">
    <div class="row">
      <div class="col-md-2 col-sm-6">
        <dl>
          <dt>{{ _('Last updated') }}</dt>
          {% set mod_date = res.modified or res.issued %}
          <dd>
            {% if mod_date %}
              {{ h.render_datetime(mod_date, with_hours=False) }}
            {% else %}
              -
            {% endif %}
          </dd>
        </dl>
      </div>
      <div class="col-md-2 col-sm-6">
        <dl>
          <dt>{{ _('Terms of use') }}</dt>
          <dd class="terms">
            <a href="{{ h.url('/terms-of-use') }}">
              {% set terms_of_use = h.get_terms_of_use_icon(res.rights) %}
              {% if terms_of_use %}
                <img src="/content/themes/wp-ogdch-theme/assets/images/terms/{{ terms_of_use.icon }}" alt="{{ terms_of_use.title }}" title="{{ terms_of_use.title }}" />
              {% else %}
                -
              {% endif %}
            </a>
          </dd>
        </dl>
      </div>
      <div class="col-md-3 col-sm-6">
        <dl>
          <dt>{{ _('Organization') }}</dt>
          <dd>
            {% if pkg.owner_org %}
              {% set organization = h.get_localized_org(pkg.owner_org) %}
              {% set url = h.url_for(controller='organization', action='read', id=organization.name) %}
              <a href="{{ url }}">{{ organization.title or organization.name }}</a>
            {% else %}
              {{ _('No organization available') }}
            {% endif %}
          </dd>
        </dl>
      </div>
      <div class="col-md-2 col-sm-6">
        <dl>
          <dt>{{ _('Media Type') }}</dt>
          <dd>
            {% if res.media_type %}
              <span class="label label-default">{{ res.media_type.upper() }}</span>
            {% else %}
              -
            {% endif %}
          </dd>
        </dl>
      </div>
      <div class="col-md-3 col-sm-12 text-md-right">
        {% if res.download_url %}
          <a href="{{ res.download_url }}" class="btn btn-primary btn-lg" role="button" target="_blank">
            <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
          </a>
        {% else %}
          <a href="{{ res.url }}" class="btn btn-primary btn-lg" role="button" target="_blank">
            <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
          </a>
        {% endif %}
      </div>
    </div>
    {% if res.description %}
      <div class="row">
        <div class="col-xs-12">
          <h2>{{ _('Description') }}</h2>
          <p>{{ res.description }}</p>
        </div>
      </div>
    {% elif c.package.description %}
      {# TODO package description should be the same as on package detail #}
      <div class="row">
        <div class="col-xs-12">
          <h2>{{ _('Description') }}</h2>
          <p>{{ c.package.description }}</p>
        </div>
      </div>
    {% endif %}
  </section>

  <section class="additional-info container">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{ _('Additional Info') }}</h2>
        <dl class="dl-horizontal">
          {% block resource_additional_information_inner %}
            {# Content gets rendered in scheming/package/resource_read.html #}
          {% endblock %}
        </dl>
      </div>
    </div>
  </section>
{% endblock %}
