{% extends "package/base.html" %}

{% set res = c.resource %}
{% set pkg_title = c.package.title or c.package.name %}
{% set res_title = res.title or pkg_title %}
{% set res_description = res.description or c.package.description %}

{% block meta_description %}<meta name="description" content="{{ res_description|forceescape|trim }}" />{% endblock %}

{% block subtitle %}{{ pkg_title }} | {{ res_title }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  <li class="active"><a href="">{{ res_title|truncate(30) }}</a></li>
{% endblock %}

{% block page_title %}
  <h1>{{ res_title }}</h1>
{% endblock %}

{% block primary_content %}
  <section class="container information">
    <div class="row">
      <div class="col-lg-2 col-sm-6">
        <dl>
          <dt>{{ _('Last updated') }}</dt>
          {% set mod_date = res.modified or res.issued %}
          <dd>
            {% if mod_date %}
              {{ h.render_datetime(mod_date, with_hours=False) }}
            {% else %}
              -
            {% endif %}
          </dd>
        </dl>
      </div>
      <div class="col-lg-2 col-sm-6">
        <dl>
          <dt>{{ _('Terms of use') }}</dt>
          <dd class="terms">
            <a href="{{ h.url('/terms-of-use') }}">
              {% set terms_of_use = h.get_terms_of_use_icon(res.rights) %}
              {% if terms_of_use %}
                <img src="/content/themes/wp-ogdch-theme/assets/images/terms/{{ terms_of_use.icon }}.svg" onerror="this.onerror=null;this.src='/content/themes/wp-ogdch-theme/assets/images/terms/{{ terms_of_use.icon }}.png'" alt="{{ terms_of_use.title }}" title="{{ terms_of_use.title }}" />
              {% else %}
                -
              {% endif %}
            </a>
          </dd>
        </dl>
      </div>
      <div class="col-lg-3 col-sm-6">
        <dl>
            <dt>{{ ungettext('Organization', 'Organizations', 1) }}</dt>
          <dd>
            {% if pkg.owner_org %}
              {% set organization = h.get_localized_org(pkg.owner_org) %}
              {% set url = h.url_for(controller='organization', action='read', id=organization.name) %}
              <a href="{{ url }}">{{ organization.title or organization.name }}</a>
            {% else %}
              {{ _('No organization available') }}
            {% endif %}
          </dd>
        </dl>
      </div>
      <div class="col-lg-2 col-sm-6">
        <dl>
          <dt>{{ _('Format') }}</dt>
          <dd>
            {% if res.media_type %}
              {% set media_type_truncated = h.truncate(res.media_type, 30) %}
              <span class="label label-default" title="{{ res.media_type }}">{{ media_type_truncated.upper() }}</span>
            {% else %}
              -
            {% endif %}
          </dd>
        </dl>
      </div>
      <div class="col-lg-3 col-sm-12 text-lg-right">
        {% if res.download_url %}
          <a href="{{ res.download_url }}" class="btn btn-primary btn-lg" role="button" target="_blank">
            <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
          </a>
        {% else %}
          <a href="{{ res.url }}" class="btn btn-primary btn-lg" role="button" target="_blank">
            <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
          </a>
        {% endif %}
      </div>
    </div>
    {% if res_description %}
      <div class="row description">
        <div class="col-xs-12">
          <h2>{{ _('Description') }}</h2>
          <p>{{ res_description }}</p>
        </div>
      </div>
    {% endif %}
  </section>

  <section class="container additional-info">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{ _('Additional information') }}</h2>
        <dl class="dl-horizontal">
          {% block resource_additional_information_inner %}
            {# Content gets rendered in scheming/package/resource_read.html #}
          {% endblock %}
        </dl>
      </div>
    </div>
  </section>

  {% set resource_preview = h.resource_preview(c.resource, c.package) %}
  {% set views_created = res.has_views or resource_preview %}
  {% if views_created %}
    <section class="container preview">
      <div class="row">
        <div class="col-xs-12">
          <h2>{{ _('Vorschau') }}</h2>
          {% block resource_preview %}
            {% block data_preview %}
              {% block resource_view %}
              <div class="module-content">
                {% block resource_view_content %}
                <div class="resource-view">
                  {% if resource_preview and not current_resource_view %}
                    {{ h.resource_preview(c.resource, c.package) }}
                  {% else %}
                    {% for resource_view in resource_views %}
                      {% if resource_view == current_resource_view %}
                        {% snippet 'package/snippets/resource_view.html',
                           resource_view=resource_view,
                           resource=c.resource,
                           package=c.package
                        %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
                {% endblock %}
              </div>
              {% endblock %}
            {% endblock %}
        {% endblock %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
