{%- set temporals = data[field.field_name] -%}
{% if temporals %}
  {% if temporals|length == 1 %}
    {{ h.render_datetime(temporals[0].start_date, with_hours=False) }}
    {% if temporals[0].end_date %}
      - {{ h.render_datetime(temporals[0].end_date, with_hours=False) }}
    {% endif %}
  {% else %}
    <ul>
      {% for temporal in temporals %}
      <li>
        {{ h.render_datetime(temporal.start_date, with_hours=False) }}
        {% if temporal.end_date %}
          - {{ h.render_datetime(temporal.end_date, with_hours=False) }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  {% endif %}
{% else %}
  -
{% endif %}
