{% extends "page_ogdch.html" %}

{% block subtitle %}{{ gettext('Error %(error_code)s', error_code=code[0]) }}{% endblock %}

{% block breadcrumb_content %}
<li class="active">{{ _('Page not found') }}</li>
{% endblock %}

{% block page_title %}
<h1>{{ _('Page not found') }}</h1>
{% endblock %}

{% block primary_content %}
  <section class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        {# TODO create more specific error message. Maybe with: {{ c.content }} and {{ c.code[0] }} #}
        <p class="lead">{{ _("Ooops... The page you're looking for isn't available. Here is a cool space shuttle to make you feel better!") }}</p>
        <p><i class="fa fa-space-shuttle fa-5x"></i></p>
      </div>
    </div>
  </section>
{% endblock %}

{% block flash %}
  {# eat the flash messages caused by the 404 #}
  {% set flash_messages = h.flash.pop_messages() %}
{% endblock %}

