<!-- Contribute -->
<section class="contribute inverted-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-12 ">
        <h2>{{ _('Get involved') }}</h2>
        <p><a href="{{ h.url('/faq') }}">{{ _('Frequently Asked Questions') }}</a></p>
      </div>
      {% set localized_newsletter_url = h.get_localized_newsletter_url() %}
	  <div class="col-lg-9 col-md-8 col-xs-12">
          <div class="col-xs-12 buttons">
            <a class="btn btn-default-inverted" href="https://handbook.opendata.swiss/" role="button">{{ _('Learn to publish data') }}</a>
            <a class="btn btn-default-inverted" href="{{ h.url('/contact') }}" role="button">{{ _('Share your application') }}</a>
          </div>
          <div class="col-xs-12 buttons">
            <a class="btn-twitter" href="https://twitter.com/opendataswiss" role="button"><img src="/content/themes/wp-ogdch-theme/assets/images/twitter.svg"/></a>
            {% if localized_newsletter_url %}
              <a class="btn btn-default-inverted" href="{{ localized_newsletter_url }}" role="button">{{ _('NewsMail Open Government Data') }}</a>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</section>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <a href="{{ h.url_for('search') }}">
          {% set dataset_count = h.get_dataset_count() %}
          <div class="statsnumber">
            {{ dataset_count }} <i class="fa fa-files-o"></i>
          </div>
          <p>{{ ungettext('Dataset', 'Datasets', dataset_count) }}</p>
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a href="{{ h.url_for(controller='organization', action='index') }}">
          {% set org_count = h.get_org_count() %}
          <div class="statsnumber">
            {{ org_count }} <i class="fa fa-users"></i>
          </div>
          <p>{{ ungettext('Organization', 'Organizations', org_count) }}</p>
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a href="{{ h.url_for(controller='group', action='index') }}">
          {% set group_count = h.get_group_count() %}
          <div class="statsnumber">
            {{ group_count }} <i class="fa fa-tags"></i>
          </div>
          <p>{{ ungettext('Category', 'Categories', group_count) }}</p>
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a href="{{ h.url_for('/showcase') }}">
          {% set app_count = h.get_dataset_count('showcase') %}
          {% set app_display = app_count %}

          {% if app_count == 0 %}
            {% set app_display = 'N/A' %}
          {% endif %}
          <div class="statsnumber">
            {{ app_display }} <i class="fa fa-puzzle-piece"></i>
          </div>
          <p>{{ ungettext('Application', 'Applications', app_count) }}</p>
        </a>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-xs-12 col-md-6 bottom-buffer">
        <h2>{{ _('A joint project of the Confederation and the cantons') }}</h2>
        <p class="small">{{ _('The opendata.swiss portal is a joint project of the Confederation, cantons, communes and other organizations with a mandate from the state. It makes open government data available to the general public in a central catalogue. opendata.swiss is operated by the Federal Statistical Office.') }}</p>
      </div>
      <div id="logos" class="col-xs-12 col-md-6">
        <img class="logo-confederation" src="/content/themes/wp-ogdch-theme/assets/images/logo-confederation.png" />
        <img class="logo-egovernment" src="/content/themes/wp-ogdch-theme/assets/images/logo-tf-egovernment-{{ h.lang() }}.png" />
      </div>
    </div>
  </div>
</footer>

<div class="page-footer-navigation">
  <div class="container">
    <div class="language-switcher">
      {% snippet "snippets/language_selector.html" %}
    </div>
    <div class="footer-navigation">
      <ul class="list-inline small">
        <li><a href="{{ h.url('/about') }}">{{ _('About') }}</a></li>
        <li><a href="{{ h.url('/faq') }}">{{ _('FAQ') }}</a></li>
        <li><a href="{{ h.url('/contact') }}">{{ _('Contact') }}</a></li>
        <li><a href="{{ h.url_for('search') }}">{{ _('Data') }}</a></li>
        <li><a href="{{ h.url_for(controller='organization', action='index') }}">{{ _('Organizations') }}</a></li>
        <li><a href="{{ h.url_for('/showcase') }}">{{ _('Applications') }}</a></li>
        <li><a href="{{ h.url('/terms-of-use') }}">{{ _('Terms of use') }}</a></li>
        <li><a href="{{ h.url('/legal-framework') }}">{{ _('Legal framework') }}</a></li>
        <li><a href="https://github.com/opendata-swiss" target="_blank">{{ _('Sourcecode') }}</a></li>
      </ul>
    </div>
  </div>
</div>
