{% extends 'header.html' %}
{% block header_wrapper %}

{% block header_account %}
{% endblock %}

{% block header_debug %}
  {% if g.debug and not g.debug_supress_header %}
    <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
  {% endif %}
{% endblock %}

<nav class="navbar navbar-default" id="main-navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ h.url('home') }}">
        <img src="/content/themes/wp-ogdch-theme/assets/images/logo_horizontal.svg" onerror="this.onerror=null;this.src='/content/themes/wp-ogdch-theme/assets/images/logo_horizontal.png'" class="navbar-brand-image" alt="{{ g.site_title }}" title="{{ g.site_title }}" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navigation-collapse" role="navigation">
      <div>
        <ul class="nav navbar-nav navbar-right">
          {{ h.build_nav_main(
            ('search', _('Data')),
            ('organizations_index', _('Organizations')),
          ) }}
          <li>
            <a href="{{ h.url('/app') }}">{{ _('Applications') }}</a>
          </li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">{{ _('About') }} <span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li>
                <a href="{{ h.url('/about') }}">{{ _("What's opendata.swiss?") }}</a>
              </li>
              <li>
                <a href="{{ h.url('/terms-of-use') }}">{{ _('Terms of use') }}</a>
              </li>
              <li>
                <a href="{{ h.url('/faq') }}">{{ _('FAQ') }}</a>
              </li>
              <li>
                <a href="{{ h.url('/contact') }}">{{ _('Contact') }}</a>
              </li>
            </ul>
          </li>
          <li class="search">
            <a href="{{ h.url_for('/dataset', locale=locale) }}" title="{{ _('Search') }}"><i class="fa fa-search" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
{% endblock %}
