{% extends "base_ogdch.html" %}
{%- block page -%}

  {#
  Override the header on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the header.html
  file.
  #}
  {%- block header %}
    {% include "header_ogdch.html" %}
  {% endblock -%}

  {# The content block allows you to replace the content of the page if needed #}
  {%- block content %}
    {% block maintag %}<div id="content" role="main" class="{% block maintag_class %}{% endblock %}">{% endblock %}

      {% block main_content %}
        {% block primary %}
          {% block page_header %}
            <header class="page-header page_ogdch">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    {% block breadcrumb %}
                      {% if self.breadcrumb_content() | trim %}
                      <ol class="breadcrumb">
                        {% snippet 'snippets/home_breadcrumb_item_ogdch.html' %}
                        {% block breadcrumb_content %}{% endblock %}
                      </ol>
                      {% endif %}
                    {% endblock %}
                    {% block page_title %}
                    {% endblock %}
                  </div>
                </div>
              </div>
            </header>
          {% endblock %}

          {% block primary_content %}
            {#
            Insert main content here
            #}
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  {% block primary_content_inner %}{% endblock %}
                </div>
              </div>
            </div>
          {% endblock %}
        {% endblock %}
      {% endblock %}
    </div>
  {% endblock -%}

  {#
  Override the footer on a page by page basis by extending this block. If
  making sitewide header changes it is preferable to override the footer.html-u
  file.
  #}
  {%- block footer %}
    {% include "footer_ogdch.html" %}
  {% endblock -%}
{%- endblock -%}
