{% ckan_extends %}

{% block basic_fields %}

    {% block package_basic_fields_title %}
      {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}) }}
    {% endblock %}

    {% block package_basic_fields_url %}
      {% set prefix = h.url_for(controller='ckanext.showcase.controller:ShowcaseController', action='read', id='') %}
      {% set domain = h.url_for(controller='ckanext.showcase.controller:ShowcaseController', action='read', id='', qualified=true) %}
      {% set domain = domain|replace("http://", "")|replace("https://", "") %}
      {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<showcase>'} %}

      {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-showcase'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}
    {% endblock %}

    {% block package_basic_fields_description %}
      {{ form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('eg. Some useful notes about the data'), value=data.notes, error=errors.notes) }}
    {% endblock %}

    {% block package_basic_fields_tags %}
      {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
      {{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}
    {% endblock %}

    {% block dataset_fields %}
      {% set groups = h.get_localized_group_list() %}
      {% if groups %}
        <div class="form-group control-medium">
          <label class="control-label">{{ _('Categories') }}</label>
          <div class="controls">
            {% for group in groups %}
              <label class="checkbox" for="field-group-{{ loop.index0 }}">
                <input id="field-group-{{ loop.index0 }}" type="checkbox" name="groups__{{ loop.index0 }}__id" value="{{ group.id }}" {% if h.group_name_in_groups(group.name, data.get('groups', [])) %}checked{% endif %} />
                {{ group.title }}
              </label>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endblock %}

    {% block package_basic_fields_type %}
    <div class="form-group control-medium">
      <label class="control-label" for="field-showcase_type">{{ _("Type of content") }}</label>
      <div class="controls">
        <select id="field-showcase_type" name="showcase_type" data-module="autocomplete">
          {% for type in h.showcase_types() %}
            <option value="{{ type }}" {% if type == data.get('showcase_type') %}selected="selected"{% endif %}>{{ h.get_showcase_type_name(type) }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endblock %}

    {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
    {% set is_url = data.image_url and data.image_url.startswith('http') %}

    {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload) }}
{% endblock %}
