{% extends "package/search.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _("Showcases") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Showcases'), controller='ckanext.showcase.controller:ShowcaseController', action='search', highlight_actions = 'new index') }}</li>
{% endblock %}

{% block page_title %}
  <h1>{{ _('Showcases') }}</h1>
{% endblock %}

{% block primary_content %}
  {{ h.snippet('showcase/snippets/search_box.html') }}
{% endblock %}

{% block secondary_content %}
  {{ h.snippet('showcase/snippets/helper.html') }}
  <div class="filters">
    <div>
      {% for facet in c.facet_titles %}
        {{ h.snippet('snippets/facet_list_ogdch.html', title=c.facet_titles[facet], name=facet) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle icon-remove-sign"></i><span class="text">close</span></a>
  </div>
{% endblock %}
