{% extends "page.html" %}

{% set page_description = _('Authorities from the Confederation, cantons and communes as well as third parties that perform tasks on behalf of the state can publish their open data on the opendata.swiss portal. Is your organization missing from the list? Get involved.') %}
{% set placeholder = placeholder if placeholder else _('Search organizations...') %}

{% block meta_description %}<meta name="description" content="{{ page_description|truncate(200) }}" />{% endblock %}

{% block subtitle %}{{ _('Organizations') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Organizations'), controller='organization', action='index' %}</li>
{% endblock %}

{% block page_title %}
  <h1>{{ _('Organizations') }}</h1>
{% endblock %}

{% block primary_content %}
  <form id="organization-search-form" class="search-form" method="get" data-module="select-switch">
    <section class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>{{ _('Which organizations publish their data?') }}</h2>
          <p>{{ page_description }}</p>
          <a class="btn btn-primary" href="{{ h.url('/faq') }}" role="button">{{ _('I want to publish data') }}</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group has-feedback">
            <input type="search" class="form-control input-lg" id="organization-search" name="q" value="{{c.q}}" results="0" autocomplete="off" placeholder="{{ placeholder }}">
            <i class="fa fa-search form-control-feedback" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2><span class="result-count">{{ c.page.item_count }}</span> <span class="result-count-footer">{{ ungettext('organization', 'organizations', c.page.item_count).format(num=c.page.item_count) }}</span></h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          {% block organizations_list %}
            {% if c.page.items or request.params %}
              {% if c.page.items %}
                {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
              {% endif %}
            {% else %}
              <p class="empty">
                {{ _('There are currently no organizations for this site') }}.
              </p>
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </section>

  </form>
{% endblock %}

{%- block scripts %}
  {{ super() }}
  <script type='text/javascript'>
    /* <![CDATA[ */
    var filterConfig = {
      "labels": {
        "organization_singular": "{{ _('organization') }}",
        "organization_plural": "{{ _('organizations') }}"
      }
    };
    /* ]]> */
  </script>
  <script type='text/javascript' src='/content/themes/wp-ogdch-theme/assets/js/organization-filter.js'></script>
{% endblock -%}
