{% extends "page.html" %}

{% block subtitle %}{{ _('Organizations') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Organizations'), controller='organization', action='index' %}</li>
{% endblock %}

{% block page_title %}
  <h1>{{ _('Organizations') }}</h1>
{% endblock %}

{% block primary_content %}
  <form id="organization-search-form" class="search-form" method="get" data-module="select-switch">
    <section class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>{{ _('Are you a potential open data publisher?') }}</h2>
          <p>{{ _('All communal, cantonal, and federal authorities (cities, cantons, offices, regions, interfederal organisations etc.), as well as communal, cantonal, and federal businesses (e.g. SBB, Post, Swisscom etc.) are called on to make data available in open, machine-readable formats, while continuing to ensure privacy and security.') }}</p>
          <a class="btn btn-primary" href="{{ h.url('/contact') }}" role="button">{{ _('See how to get involved') }}</a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h2>{{ ungettext('{num} Active Organization', '{num} Active Organizations', c.page.item_count).format(num=c.page.item_count) }}</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          {% block organizations_list %}
            {% if c.page.items or request.params %}
              {% if c.page.items %}
                {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
              {% endif %}
            {% else %}
              <p class="empty">
                {{ _('There are currently no organizations for this site') }}.
              </p>
            {% endif %}
          {% endblock %}
        </div>
      </div>
    </section>

  </form>
{% endblock %}

