{% extends "page.html" %}
{% import 'macros/form.html' as form %}
{% set form_id = form_id if form_id else false %}
{% set current_lang = request.environ.CKAN_LANG %}

{% block subtitle %}{{ _('Organizations') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Organizations'), controller='organization', action='index' %}</li>
{% endblock %}

{% block page_title %}
  <h1>{{ _('Organizations') }}</h1>
{% endblock %}

{% block primary_content %}
  <form id="organization-search-form" class="search-form" method="get" data-module="select-switch">
    <section class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>{{ _('Are you a potential open data publisher?') }}</h2>
          <p>{{ _('All communal, cantonal, and federal authorities (cities, cantons, offices, regions, interfederal organisations etc.), as well as communal, cantonal, and federal businesses (e.g. SBB, Post, Swisscom etc.) are called on to make data available in open, machine-readable formats, while continuing to ensure privacy and security.') }}</p>
          <a class="btn btn-primary" href="/{{ current_lang }}/contact" role="button">{{ _('See how to get involved') }}</a>
        </div>
      </div>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <hr/>
        </div>
      </div>
    </div>

    {% block organizations_list %}
      {% if c.page.items or request.params %}
        {% if c.page.items %}
          {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
        {% endif %}
      {% else %}
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <p class="empty">
                {{ _('There are currently no organizations for this site') }}.
              </p>
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock %}
  </form>
{% endblock %}

